<html>
<head>

</head>
<body>
  <form method="post" action="postEvent">
    <table align="center">
    <tr>
     <td><input type="text" name="nameOfEvent" placeholder="Name of event" /></td>
    </tr>
    <tr>
     <td><input type="text" name="description" placeholder="Description here" /></td>
    </tr>
    <tr>
     <td><input type="text" name="rules" placeholder="Rule goes here" /></td>
    </tr>
    <tr>
     <td><input type="text" name="dateOfEvent" placeholder="date" /></td>
    </tr>
    <tr>
     <td><input type="text" name="timeOfEvent"  placeholder="time"/></td>
    </tr>
    <tr>
     <td><input type="text" name="venue" placeholder="venue goes here"/></td>
    </tr>
    <tr>
     <td><input type="text" name="coordinator_1" placeholder="Cordinator_1 name goes here"/></td>
    </tr>
    <tr>
     <td><input type="text" name="coordinator_2"  placeholder="cordinator2 name goes here"/></td>
    </tr>
    <tr>
     <td><input type="text" name="phoneno_1" placeholder="phoneno1 goes here"/></td>
    </tr>
    <tr>
     <td><input type="text" name="phoneno_2" placeholder="phoneno2 goes here" /></td>
    </tr>
    <tr>
     <td><input type="text" name="reference_url" placeholder="reference url goes here"/></td>
    </tr>
    <tr>
      <td><input type="submit" name="submit" value="Submit" required/></td>
    </tr>
  </table>
  </form>
</body>
</html>
